.navbar{
    background-color: azure;
    height: 80px;
    }
    .product{
        flex-basis: 75%;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
    }
    
    .productItems img{
        width:100%;
        height:250px;
    }
    .productItems {
        flex-basis: 31%;
        padding: 10px;
        margin: auto;
    }
    .productItems h3{
        width:100px;
        height:50px;
    white-space:nowrap;
    overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
    }
    .productItems h4{
        width: 300px;;
        height:50px;
    white-space:nowrap;
    overflow: hidden;
        text-overflow: ellipsis;
        
    }
    .productItems h5{
        padding: 10px;
        border-bottom: 1px solid white;
    }
    .login-button{
    
        border: 1px solid black;
        width: fit-content;
        
        padding:1px 10px;
        color:brown;
    background-color: aliceblue;
    font-size: 14px;
    
    border-radius: 10px;
    text-decoration: none;
    box-sizing: border-box;
    }
    .Register-button{
        padding:1px 10px;
        border: 1px solid black;
        color:brown;
    background-color: aliceblue;
    font-size: 14px;
    
    border-radius: 10px;
    text-decoration: none;
    }
    .Cart-button{
        padding:1px 10px;
        width: auto;
        border: 1px solid black;
        color:brown;
    background-color: aliceblue;
    font-size: 14px;
    
    border-radius: 10px;
    text-decoration: none;
    }
    .login-button:hover{
        background-color: aqua;
    }
    .Register-button:hover{
        background-color: aqua;
    }
    .Cart-button:hover{
        background-color: aqua;
    }
    .navbar-toggler{
        border: none;
        font-size: 1.25rem;
    }
    .navbar-toggler:focus{
        box-shadow: none;
        outline: none;
    }
    .hero-section{
       background:url("../Store-Using API-20241124T053526Z-001/Store-Using API/main.png.jpg") no-repeat center;
       background-size: cover;
    width: 100%;
    height:100vh;
    }
    .hero-section::before{
    
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .hero-section .container{
        height: 100vh;
        z-index: 1;
        position: relative;
    }
    .hero-section h1{
        font-size: 1.5em;
    }
    .hero-section h2{
        font-size: 1.2em;
    }
    .content{
        margin-top: 90px;
        margin-left: 360px;
    }
    
    .content h1{
        font-size: 50px;
        
        }
        .categorylist{
            display: inline-block;
            width: auto;
            height: auto;
            
            letter-spacing: 3px;
            font-weight: bold;
            padding: 1px 10px;
        }
        .categorylist:hover{
            
            margin: 10px;;
        }
        .footer p{
            color: white;
            text-align: center;
            background-color: black;
            padding: 20px;
        }
        @media screen and (max-width:420px){
           .content h1{
            font-size: 30px;
           } 
        }